/* Custom Styling for About Component */

.about-container {
  background-color: #f8f9fa; /* Light background color for contrast */
  padding: 40px 15px; /* Padding around the container */
  border-radius: 8px; /* Rounded corners for the container */
}

.section-heading {
  border-bottom: 2px solid #007bff; /* Blue border under headings for emphasis */
  padding-bottom: 10px; /* Space below the heading text */
}

.final-message {
  font-style: italic; /* Italicize the final message */
  color: #495057; /* Slightly darker text color for emphasis */
}

/* Ensure the spacing between paragraphs and sections is consistent */
.mb-4 {
  margin-bottom: 2rem; /* More space below paragraphs */
}


/* Custom styling for Error Page */

.error-container {
  background-color: #f8f9fa; /* Light background color for contrast */
  padding: 40px 15px; /* Padding around the container */
  border-radius: 8px; /* Rounded corners for the container */
}

.display-4 {
  color: #000000; /* Bootstrap danger color for error title */
}

.lead {
  color: #333; /* Darker text color for the message */
}





/* Ensures the wrapper takes up the full height of the viewport */
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Styles for the main content area */
.main-content {
  flex: 1; /* Allows the main content area to expand and take up available space */
  padding: 1rem; /* Adds padding around the main content */
  /* Add additional styles as needed for your main content area */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
